doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css")
        link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js") 
        link(rel="stylesheet", href="/css/style.css")
    body 
        nav.nav-bar 
            a(href="/").nav-item Hjem 
            a(href="/subscriber").nav-item Subscribers 
            a(href="/about").nav-item About 
            a(href="/contact").nav-item Contact 
        
block content